**/__pycache__/
**/.ipynb_checkpoints
.ipynb_checkpoints
full_pictures_RH30_P014561
full_pictures_RH30_P014562
full_pictures_RH30_P014563
DeepProfiler_data_RH30_P014561
DeepProfiler_data_RH30_P014562
DeepProfiler_data_RH30_P014563
scDINO_RH30
**/*.csv
**/*.pkl
*.pkl
*.csv
**/*.tiff
**/*.npz
**/*.whl
pip*
python*
lib*
.cfg
easy*
**/lib
**/*.parquet
*.parquet
pharmbio_package
DP_RMS_project/inputs
DP_RMS_project/outputs
DeepProfiler_data_RH30_P014562
*.bin
specs3k/covid_diag
Single_cell_project.code-workspace
file_dump
DeepProfiler